[submodule "themes/after-dark"]
	path = themes/after-dark
	url = https://github.com/comfusion/after-dark.git
[submodule "after-dark"]
	path = after-dark
	url = https://github.com/comfusion/after-dark.git	
